- content_for(:head) do
  :javascript
    $(function() {
      if (window.nextUrl) {
        // This 2000 will change to {video_length} / #levelsOnList * #currentlevel
        window.setTimeout(function() {
          window.location = window.nextUrl;
        }, 2000);
      }
    });

%p= prize

%video#videoPlayer{:autobuffer => "", :autoplay => "autoplay",  :poster => "/assets/Backyardigans_poster.jpg"}
  %source{:src => "/assets/Backyardigans.mp4", :type => "video/mp4"}
    %img{:alt => "Film Poster", :height => "180", :src => "/assets/Backyardigans_poster.jpg", :width => "320"}