%br

%h2= "Lineamientos teóricos de la Terapia Conductual sobre los que se asienta ¡Puedo Jugar Solo!"

%br

%h4= "Procedimientos de ABA (Applied Behavior Analysis)"

%p="Los juegos de nuestra aplicación están especialmente diseñados para que puedan ser utilizados por niños con TEA (trastornos del espectro autista) u otras dificultades de desarrollo. Más específicamente, para aquellos niños con muy pocas habilidades cognitivas, de comunicación, de juego y socialización, con pocos intereses y capacidad para realizar actividades en su tiempo libre, cuando no están bajo la guía de un adulto. Estos chicos presentan en general conductas autoestimulatorias (deambular, dar giros, vocalizar, mover objetos o responder ante estímulos visuales de manera repetitiva y/o pasiva, como, por ejemplo, ante videos o la televisión)."

%p="Los juegos de nuestro app incorporan imágenes muy llamativas, debido a que estos niños tienen, en general, mejores habilidades visuales y logran aprender conceptos cognitivos por esta vía. Además, debido a su habitual desorganización sensorial, por ejemplo, ante ruidos específicos, los sonidos también han sido cuidadosamente seleccionados."

%p
  Las secuencias en las que se desarrollan los juegos están basadas en procedimientos de enseñanza que proceden del área del
  %b="Análisis Experimental y Aplicado del Comportamiento"
  , marcos teóricos y aplicados de la Psicología que han obtenido los mejores indicadores de eficacia en el tratamiento de diferentes tipos de trastornos, entre ellos el autismo (Terapia Conductual).

%p
  En el desarrollo de
  %b
    %i="¡Puedo Jugar Solo!"
  hemos recurrido de manera específica a técnicas y procedimientos propios del Análisis del Comportamiento Aplicado, tales como:

%ul
  %li
    %b="Contrato de refuerzo:"
    el reforzamiento, a través de un premio o recompensa, que los padres o tutores del niño preseleccionan y éste puede elegir antes de empezar a jugar, se le va otorgando de manera gradual, a medida que el niño resuelve favorablemente los desafíos. Las respuestas incorrectas no son reforzadas por ningún estimulo visual ni auditivo, lo cual contribuye a dotar de una mayor claridad el proceso de aprendizaje del niño.
  %br
  %li
    %b="Aprendizaje en discriminación:"
    todas las acciones que debe hacer el niño son cuidadosamente seleccionadas, son discriminadas, resultan claras para él, descartándose distractores y estímulos irrelevantes que atenten contra la comprensión de la acción.
  %br
  %li
    %b="Estimulación de apoyo a la respuesta (ayudas):"
    en el transcurso de los juegos se implementan diferentes procedimientos de ayuda, previniéndose así situaciones de frustración (por la baja tolerancia que tienen frente a las dificultades) y la fijación de respuestas incorrectas (por las dificultades de inflexibilidad cognitiva propias del cuadro):
    %br
    %br
      %ul
        %li
          Frente a  una respuesta incorrecta se le brinda ayuda visual al niño para que sepa cuál es la respuesta adecuada, que no es reforzada, y se le brinda una nueva posibilidad de realizar la acción correctamente de manera independiente, accediendo así al refuerzo. De esta manera se previene la dependencia a la ayuda.
        %br
        %li
          Si el niño vuelve a fallar en el mismo ítem, la aplicación reitera la ayuda al niño, pero cambia luego de ítem, considerando que el niño en ese momento no está siendo capaz de responder de manera independiente (porque ha olvidado el concepto, porque está confundido, etc.) y de aprender la respuesta (ya que se le ha presentado segundos atrás). De esta manera se previenen circuitos de frustración que lo llevarían a abandonar el juego o a presentar problemas de conducta.
        %br
        %li
          Por las dificultades específicas de atención, de memoria de trabajo (función ejecutiva) y la  presencia de diferentes conductas autoestimulatorias, es que se agrega a la aplicación la ayuda al niño luego 10 segundos de inactividad, suponiendo que el niño se ha distraído. La ayuda visual (el señalamiento de la respuesta correcta) va acompañada de un estimulo auditivo neutro (poco motivante), con el objetivo de llamar la atención del niño y ayudarlo a reanudar su tarea.
  %li
    %b="Modelamiento:"
    la aplicación puede darle al niño la respuesta correcta una vez que el niño falla en dos oportunidades seguidas (anteriormente descripto).
  %br
  %li
    %b="Análisis de la tarea:"
    los juegos están graduados por nivel de dificultad. Al mismo tiempo, el padre, tutor o educador tiene la posibilidad de ir seleccionado los juegos específicos que el niño podrá practicar y la cantidad de tiempo que el niño puede sostener la atención en la tarea, graduándola desde un nivel de máxima sencillez hasta poder alcanzar tiempos prolongados de juego independiente.
  %br
%p
  En definitiva, a través de la incorporación de esta estructura y secuencia,
  %b
    %i='¡Puedo Jugar Solo!'
  alcanza los siguientes objetivos para el niño/usuario:


%ul
  %li
    Acceso a la tecnología como vía de entretenimiento y disfrute, que a la vez funciona como medio de estimulación de su potencial y desarrollo.
  %br
  %li
    Aumento de la frecuencia cotidiana de prácticas adecuadas, que incluyan el refuerzo de comportamientos funcionales vs. ausencia de refuerzo ante conductas pasivas o de autoestimulación.
  %br
  %li
    Posibilidad de encadenar secuencias cortas de acción con propósito, lo que derivará en períodos cada vez más prolongados de uso funcional y organizado del tiempo libre del niño.
  %br
  %li
    Generalización de conceptos y habilidades previamente adquiridos.
  %br

%h5="Referencias bibliográficas"

Leaf, R. y McEachin, J.,
%i="Esperanzas para el autismo, un trabajo en progreso"
, Fundación Esco, Cartagena,  2000.
%br
Lovaas, I.,
%i="Teaching individuals with developmental delays"
, Pro-ed, Texas, 2003.
%br
Lovaas, I.,
%i="Enseñanza de niños con trastornos del desarrollo"
, Ed. Debate, Madrid, 1989.
%br
Maurice, C.,
%i="Behavioral Intervention for Young Children with Autism"
, Pro-ed, Texas, 1996.
%br
Riviere, A.,
%i="Autismo: orientaciones para la intervención educativa"
, Ed. Trotta, Madrid, 2001.
%br
Riviere, A. y Martos J.,
%i="El tratamiento del autismo, nuevas perspectivas, Ministerio de Trabajo y Asuntos Sociales"
, Madrid, 1997.
%br
%br
%h5="Links relacionados"

%a{href: "http://www.lovaas.com"}="Lovaas Institute"
%br
%a{href: "http://www.planetaimaginario.org"}="Planeta Imaginario"
%br
%a{href: "http://www.autismspeaks.org"}="Autism Speaks"
%br
%a{href: "http://www.autism-society.org"}="The National Autistic Society"
%br
%br

%h4="Pormenores del Análisis del Comportamiento Aplicado"

%p
  El Análisis del Comportamiento Aplicado es un programa intensivo de enseñanza estructurada que se basa en más de 40 años de investigación científica y continúa evolucionando incesantemente. Con base en los principios científicos del comportamiento, se emplean métodos para construir conductas socialmente útiles y reducir aquellas que sean problemáticas. Investigaciones conducidas por el Dr. Lovaas y sus asociados de la Universidad de California han demostrado la efectividad de estos procedimientos.

%p
  El Análisis del Comportamiento Aplicado consiste en la enseñanza sistemática de unidades pequeñas y medibles. Cada habilidad que el niño con espectro autista no presenta  –partiendo de simples respuestas de comunicación e interacción social– se divide en pequeños pasos. Cada paso se enseña presentando una instrucción o una indicación (estímulo discriminado) a la que corresponde una determinada conducta (respuesta). A veces se da una ayuda (por ejemplo, física o visual) para que el niño pueda responder con éxito.

%p
  Las respuestas apropiadas son seguidas de una consecuencia que funcione efectivamente como refuerzo positivo, dando como resultado el aumento de frecuencia de dicha conducta. Es también importante el buen uso de refuerzos para favorecer un clima positivo de trabajo, logrando que al niño le resulte placentero aprender. Al mismo tiempo, las respuestas problemáticas no son reforzadas, para lo cual se requiere un análisis sistemático a efectos de determinar exactamente qué hechos actúan como refuerzos para tales conductas.

%p
  Queda entonces bien delimitado para cada enseñanza el ensayo discreto, es decir, la unidad de enseñanza básica: una secuencia conductual con un máximo de control de las variables, que se utiliza para la enseñanza de toda actividad / habilidad /conducta que se le quiere enseñar al niño.
%br

%div{style:'width:100%'}
  %img{src:'/assets/aprendizaje.png', style:"width:600px;margin-left:130px;"}

%br
%br
%p
  La utilización del ensayo discreto marca con claridad lo que el educador quiere enseñar y le permite al niño identificar lo que se espera de él. Además, ayuda al educador a ser consecuente, sólido y estable, y facilita la evaluación de los progresos a partir de un registro minucioso de datos.

%p
  Los componentes del ensayo discreto son:

%ul
  %li
    %b="Estímulo Discriminado (ED):"
    es la orden, la instrucción, la indicación que se le da al niño.
  %br
  %li
    %b="Respuesta (R):"
    es la acción o la conducta del niño ante el ED recibido.
  %br
  %li
    %b="Estímulo Refuerzo (ER):"
    es la consecuencia inmediata a la respuesta dada por el niño, a partir de la cual cambiará la frecuencia de la conducta buscada. El reforzamiento positivo favorecerá el aumento de la conducta; y el reforzamiento negativo, su disminución.
    %br

    %p
      Los distintos tipos de refuerzo son:
      %ul
        %li
          %b="Positivos(agregan placer a la situación):"
          %ul
            %li
              %b="primarios:"
              alimentos (reforzantes por naturaleza).
            %li
              %b="secundarios:"
              sociales (adquieren propiedades reforzantes por aprendizaje).
        %li
          %b="Negativos:"
          %ul
            %li
              %b="ausencia de refuerzo."
            %li
              %b="pérdida de refuerzo positivo."
            %li
              %b="presencia de algo displacentero."
  %br
  %li
    %b="Ayuda (A):"
    es la asistencia que el educador le brinda al niño para que logre la respuesta correcta.
    %br
    Existen diferentes tipos de ayudas, que serán seleccionadas según las necesidades específicas del niño y la conducta a la que se aplicarán.
    %ul
      %li
        %b="Físicas:"
        cuando la ayuda se basa en un contacto físico concreto. Existen diferentes grados de desvanecimiento de la ayuda física:
        %ul
          %li="Ayuda masiva."
          %li="Ayuda parcial."
          %li="Instigación física."
      %li
        %b="Verbales:"
        %ul
          %li="Para la ejecución de una conducta no verbal."
          %li="Para la comprensión del lenguaje verbal: inflexión de voz, haciendo hincapié en la palabra  con mayor contenido semántico de la frase utilizada en el Estímulo Discriminado."
          %li
            Para la repetición de palabras, en cuyo caso el grado de complejidad creciente estaría dado por:
            %ul
              %li="darle la palabra completa."
              %li="darle parte de la palabra."
              %li="darle la primera sílaba."
              %li="darle el fonema inicial."
              %li="hacer el movimiento de labios."
      %li
        %b="Visuales:"
        %ul
          %li="Modelado total de la conducta, ya sea simultáneo o diferido."
          %li="Gesto indicativo de la conducta."
          %li="Señalamientos."
          %li="Señas (gestos aprendidos)."
          %li="Claves visuales (agendas, pictogramas)."
          %li="De posición (acercando el objeto que debe utilizar o señalar)."

%br

%p
  En todo el proceso de enseñanza los ensayos se repiten varias veces, con una sucesión rápida (ensayos masivos), y se le brinda al niño toda la ayuda que necesite para realizar las acciones correctamente. Se retira la ayuda gradualmente, en la medida en que el niño comprende lo que debe realizar y lo logra hacer de manera independiente.

%p
  Una vez que el niño ha aprendido la respuesta que se espera de él, se le da como ER un "no informativo" si el niño no respondiera correctamente ante el ED. Si ocurriera lo mismo en el segundo ensayo, se actuaría de la misma manera y se le daría la ayuda necesaria en el tercer ensayo para que realice la actividad con éxito.

%p
  De cada uno de los ensayos se toman datos, llevando el registro según la respuesta haya sido: C (correcta), I (incorrecta) o A (con ayuda). Al finalizar el programa (la repetición de varios ensayos) se podrá extraer el porcentaje de respuestas correctas y así evaluar con exactitud el desempeño del niño, lo que también le permitirá al educador adaptar los procedimientos de enseñanza toda vez que los datos muestren que el niño no está logrando los resultados deseados.

%p
  Esta forma de enseñanza se utiliza para que los niños aprendan la mayoría de las habilidades, incluyendo las cognitivas, de comunicación, de juego, sociales y de autovalimiento, estableciéndose una currícula individual y personalizada según las necesidades y posibilidades de cada persona.

%p
  En un primer período de enseñanza el trabajo se realiza de manera individual, pero para maximizar las habilidades que el niño va aprendiendo se practican y refuerzan en situaciones menos estructuradas, de carácter más incidental o natural. Estas posibilidades deben ser programadas y arregladas cuidadosamente, con el fin de asegurar que ocurren frecuentemente y que las consecuencias se dan consistentemente.

%p
  Remarcamos que el uso efectivo y ético de los métodos del Análisis del Comportamiento Aplicado requiere un entrenamiento especial y debe ser aplicado de una manera responsable y comprometida.

