- content_for :head do
  :javascript
    $(function(){
      var sequence_data = {
        goal : [
          { key : "a", visible : true },
          { key : "b", visible : true },
          { key : "a", visible : true },
          { key : "b", visible : false },
          { key : "a", visible : false },
          { key : "b", visible : false },
        ],
        elements : {
          "a" : "/assets/square-red.png",
          "b" : "/assets/square-green.png"
        },
        timeout_sec : 10,
      };

      play_sequence(sequence_data);
    });

%h1 Secuencia

#sequence-board
  %h2 Complete la secuencia

  .row(data-bind="foreach: sequence")
    .bucket.well(data-bind="css : { guess: visible() == false }")
      %img(data-bind="attr : { src: image }")

  %h2 Opciones

  .row(data-bind="foreach: elements")
    %button.btn(data-bind="click: choosed, css: { glow_effect : hightlight }")
      %img(data-bind="attr : { src: image }")
