= audio_tag('/assets/trumpets.wav', id: 'correct')
= audio_tag('/assets/whistle.wav', id: 'call-to-action')
= audio_tag('/assets/fanfare.wav', id: 'iteration-complete')
= hidden_complete_iteration_form
