- content_for :head do
  :javascript
    $(function(){
      var sequence_data = {
        goal : #{@data.goal.to_json},
        elements : #{@data.elements.to_json},
        timeout_sec : 10,
      };

      play_sequence(sequence_data);
    });

%h1 Secuencia

#sequence-board
  %h2 Complete la secuencia

  .row(data-bind="foreach: sequence")
    .bucket.well(data-bind="css : { guess: visible() == false }")
      %img(data-bind="attr : { src: image }")

  %h2 Opciones

  .row(data-bind="foreach: elements")
    %button.btn(data-bind="click: choosed, css: { glow_effect : hightlight }")
      %img(data-bind="attr : { src: image }")

-# TODO: This should be part of a layout that affects all games
= render 'games/hidden_controls'