
#sequence-board {
  .row { 
    position: relative; 
    margin-left: 0px;
    .bucket { 
      float: left; 
      margin: 4px;
      width: 128px;
      height: 128px;
      vertical-align: middle;
      text-align: center;
      
      img { height: 128px; width: 128px; }
      
      &.guess {
        background: white url('/assets/square-guess.png') no-repeat 50% 50%;
        img { display: none; }
      }
    }
    
    .btn {
      height: 96px; width: 96px;
      vertical-align: middle;
      text-align: center;
      margin-left: 4px;
      margin-right: 0px;
    }
  }
}